
body{
    background-color: beige;
}
.icon{
    display: inline-block;
    font-size: 44px;
   margin-top: 50px;
margin-left: 20px;
    animation: float 5s ease-in-out infinite;
}
.icon-wrapper::after{
   content: " ";
   width: 200px;
   height: 3px;
   margin-left: 2px;
   color: black;
  display: block;
  background-color: rgb(109, 107, 110);
  
}
.fa-facebook{
animation-delay: 1s;
color: rgb(66, 124, 174);

}
.fa-instagram{
   color: rgb(165, 76, 173);
    
    }
    .fa-whatsapp{
        color: rgb(43, 167, 126);
        animation-delay: 2s;
    }
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}